<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :thumbnail %>
	<%= f.file_field :thumbnail %>
	<%= f.label :author_id %>
	<%= f.number_field :author_id %>

	<%= f.submit %>
</div>
