<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :file %>
	<%= f.file_field :file %>
	<%= f.label :author_id %>
	<%= f.number_field :author_id %>

	<%= f.submit %>
</div>
