<h2>
	Post List
</h2>

<% if @user.present? %>
	<%= link_to 'Add Post', new_user_post_path(), class: "btn btn-primary" %>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>

<ul>
<%-@posts.each do |post| link_to %>

<% if @user.present? %>
	<%= link_to user_post_path(@user, post) do %>
		<li>
			<%= post.title %>
			<ul>
				<li><img src="<%= post.thumbnail.thumb.url %>"></img></li>
				<li><%= post.author_id %></li>
			</ul>
		</li>
	<% end %>

<% else %>
		<%= link_to post_path(post) do %>
			<li>
				<%= post.title %>
				<ul>
					<li><img src="<%= post.thumbnail.thumb.url %>"></img></li>
					<li><%= post.author_id %></li>
				</ul>
			</li>
		<% end %>
	<% end %>
	<br/>
<% end %>

</ul>
